<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="utilities.Listeners"/>
    </listeners>
    <test thread-count="5" name="Test">
        <classes>
            <class name="TestCases.Pet.PetTests_DELETE"></class>
            <class name="TestCases.Pet.PetTests_FindByID_GET"></class>
            <class name="TestCases.Pet.PetTests_FindByStatus_GET"></class>
            <class name="TestCases.Pet.PetTests_POST"></class>
            <class name="TestCases.Pet.PetTests_PUT"></class>

        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
